#test{
    background-color: rgb(67, 168, 37);
}
p{
    color: red;
    margin-top: 5px;
    margin-bottom: 0px;
}
.siker{
    color: green;
    font-size: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.topBotMargin{
    margin-top: 50px;
    margin-bottom: 25px;
}
.form{
    background-color: rgb(210, 235, 202);
    padding-top: 20px;
    padding-bottom: 20px;
}
h1{
    color: rgb(67, 168, 37);
}
#fizetes{
    background-color: rgb(67, 168, 37);
    color: black;
    border: solid  rgb(67, 168, 37) 1px;
    margin-top: 10px;
}