body{
    background-color: rgb(146, 81, 28);
}
p{
    color: red;
    margin-top: 5px;
    margin-bottom: 0px;
}
.siker{
    color: green;
    font-size: 72px;
}
.topBotPadding{
    padding-top: 10px;
    padding-bottom: 10px;
}
.szines{
    background-color: rgb(227, 227, 66);
}